<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrac</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
<div class="medlist">
    <h1>Medication detail page</h1>
    
    <form action="/medicine/<%=medicine.id; %>?_method=DELETE" method="POST">
        <a href="/medicine/<%=medicine.id; %>/edit">Edit Medication</a>
        <br />
        <input type="submit" value="Delete Medication"/>
    </form>
    <br />
  
    <b>Medication name:</b> <%=medicine.name%> <br/>
    <br />
    <b>Medication dosage:</b> <%=medicine.dosage%> <br/>
    <br />
    <b>Picture:</b> coming soon<br/>
    <br />
    <b>Other Info:</b> coming soon<br/>
</div>
    <%- include('../partials/footer') %>
</body>
</html>