<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrac</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
<br/>
<div class="newschedule">
<h1><%=user.name%>'s Medicine Schedule</h1>
<form action="/users/schedule/<%=user.id%>?_method=PUT" method="POST">
Select new medicine and time of day to add to your schedule:  
<select name="medicine">
    <% for ( let i = 0; i < medicines.length; i++ ) { let selected = ( i == 0
    ) ? "selected" : ""; %>
    <option value="<%=medicines[i].id%>" selected
      ><%=medicines[i].name%>:<%=medicines[i].dosage%>
    </option>
    <% } %>
</select>   
<select name="time">
    <% for ( let i = 0; i < times.length; i++ ) { let selected = ( i == 0
    ) ? "selected" : ""; %>
    <option value="<%=times[i].id%>" selected
      ><%=times[i].timeOfDay%>
    </option>
    <% } %>
</select>   
<input type="submit" name="" value="Add Medicine"/>
</form>
<br />
<div class="new">
Don't see your medication?  <a href="/medicine/new">Add a new one.</a>
 </div> 
 <br />
    <div class="schedule">
        <div id="Morning">
            <h3>Morning</h3>
            <%for(let i=0; i<userMeds.length; i++) { %>
                <%if(userMeds[i].timeId === 1) {%>
                <%let medid=userMeds[i].medId
                %>
                <form action="/users/schedule/<%=userMeds[i].id%>?_method=DELETE" method="POST">
                <li>
                    <a href="/medicine/<%=userMeds[i].medId%>">
                        <%=medicines.find(medicine=>medid===medicine.id).name%>:<%=medicines.find(medicine=>medid===medicine.id).dosage%></a>
                        <input type="submit" value="DELETE"/>
                </li>
                </form>
                    <br />
                <%}%>
            <%}%>

        </div>
        <div id="Noon">
            <h3>Noon</h3>
            <%for(let i=0; i<userMeds.length; i++) { %>
                <%if(userMeds[i].timeId === 2) {%>
                <%let medid=userMeds[i].medId
                %>
                <form action="/users/schedule/<%=userMeds[i].id%>?_method=DELETE" method="POST">
                <li>
                    <a href="/medicine/<%=userMeds[i].medId%>">
                        <%=medicines.find(medicine=>medid===medicine.id).name%> : <%=medicines.find(medicine=>medid===medicine.id).dosage%></a>
                        <input type="submit" value="DELETE"/>
                </li>
                </form>
                    <br />
                <%}%>
            <%}%>

        </div>
        <div id="Evening">
            <h3>Evening</h3>
            <%for(let i=0; i<userMeds.length; i++) { %>
                <%if(userMeds[i].timeId === 3) {%>
                <%let medid=userMeds[i].medId
                %>
                <form action="/users/schedule/<%=userMeds[i].id%>?_method=DELETE" method="POST">
                <li>
                    <a href="/medicine/<%=userMeds[i].medId%>">
                        <%=medicines.find(medicine=>medid===medicine.id).name%>:<%=medicines.find(medicine=>medid===medicine.id).dosage%></a>
                        <input type="submit" value="DELETE"/>
                </li>
                </form>
                    <br />
                <%}%>
            <%}%>

        </div>
        <div id="Bed Time">
            <h3>Bed Time</h3>
            <%for(let i=0; i<userMeds.length; i++) { %>
                <%if(userMeds[i].timeId === 4) {%>
                <%let medid=userMeds[i].medId
                %>
                <form action="/users/schedule/<%=userMeds[i].id%>?_method=DELETE" method="POST">
                <li>
                    <a href="/medicine/<%=userMeds[i].medId%>">
                        <%=medicines.find(medicine=>medid===medicine.id).name%>:<%=medicines.find(medicine=>medid===medicine.id).dosage%></a>
                        <input type="submit" value="DELETE"/>
                </li>
                </form>
                    <br />
                <%}%>
            <%}%>

        </div>

    </div>
</div>

     <%- include('../partials/footer') %>
</body>
</html>