<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrac</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
<div class="medlist">
    <h1>List of medications for <%=user.name%></h1>

    <ul>
        <%for (let i=0; i< userMeds.length; i++) { %>
            <li>  
                <a href="/medicine/<%=userMeds[i].medId%>">
                    <%=medicines.find(medicine=>userMeds[i].medId===medicine.id).name%>
                     : <%=medicines.find(medicine=>userMeds[i].medId===medicine.id).dosage%></a>
                    , <%=userMeds[i].medCount%> X per day
            </li>
       <%}%>
    </ul>
</div>
     <%- include('../partials/footer') %>
</body>
</html>